#navbarNav {
    position: relative;
    left: 900px;
}
body {
   overflow-x: hidden;
}
#welcome {
    background-image: url("https://media.istockphoto.com/photos/bouquet-of-five-flowers-of-blossoming-dandelions-of-unusual-colorful-picture-id1223668190?k=20&m=1223668190&s=612x612&w=0&h=JQjlgR0c0rd5VTfk41I2Gr6MiSyj2uuq-8PJ_Uf-OTs=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
    color: white;
}
h1 {
    position: relative;
    top: 200px;
    right: 400px;
}