#navbarNav {
    position: relative;
    left: 900px;
}
#left {
    width: 50%;
    height: 100vh;

    background-color: #251e51;
}

#right {
    width: 50%;
    height: 100vh;

    background-color: #04091e;
    position: absolute;
    top: 0;
    right: 0;
}