{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" action="{{url_for('main.comment',blog_id = blog.id)}}" method="POST">
                <div class="md-form form-group">
                    <i class="fa fa-lock prefix"></i>
                    <label for="form"></label>
                    <h4>Leave your comment here</h4>
                    <input type="text" class="form-control" name="newcomment" placeholder="enter a comment..." required>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </div>
                <div class="md-form form-group">
                    <button class="btn btn-sm btn-outline-info">Comment</button>
                </div>
            </form>
        </div>
        <div class="col-md-3 ">
            <h4>All Comments</h4>
            {% for comment in comments %}
            <p class="mt-10"><span style="font-weight: bold">{{comment.user.username}} : </span> {{comment.comment}}</p>

            {% if blog.user == current_user %}
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                data-target="#deleteModal">Delete</button>
            {% endif %}
            {% endfor %}

        </div>

{% endblock %}