{% extends 'base.html'%}

{% block content %}
<div class="container landing">
    <div class="row ">
        <div class="col-md-9 " style="text-align: center; color: #14213D;">
            <h1>Welcome to my Personal Blog</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 ">
            {% for blog in blogs.items %}

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="padding: 5%;background-color: transparent;">
                        <div class="card-image">
                            <img class="rounded-circle blog-img mr-10" class="card-img"
                                src="{{ url_for('static', filename='photos/' + blog.user.profile_pic_path) }}"
                                height="250" width="250">
                            <a href="{{url_for('main.user_posts',username = blog.user.username)}}"><span><strong> {{
                                        blog.user.username | title}}</strong></span> </a>
                        </div>
                        <div class="card-title" style="text-align: center;">

                            <h4><a href="{{url_for('main.blog',id = blog.id)}}" class="card-title">{{blog.title |
                                    upper}}</a></h4>
                        </div>
                        <div class="card-body">
                            <p class="card-content">{{blog.content}}</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-footer">Posted on : {{blog.posted.strftime('%d-%m-%Y')}}</p>
                            <p> <a class="btn btn-sm btn-info" href="{{url_for('main.blog',id = blog.id)}}"> Comment</a>
                                {{blog.comment.count()}} Comments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}