{% extends 'base.html'%}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-2">{{user.blog.count()}} Posts by {{ user.username }} </h1>
        <div class="row">
            <div class="col-md-2">
                    
            </div>
            <div class="col-md-8">
                {% for blog in blogs.items %}
                    <div class="" >
                        <hr>
                        <div class="row">
                            <div class="card" style="padding: 5%; background-color: transparent;">
                                <div class="card-image">
                                    <img class="rounded-circle blog-img mr-10" src="{{ url_for('static', filename='photos/' + blog.user.profile_pic_path) }}">
                                </div>
                                <div class="card-title">
                                    <p>By {{blog.user.username}}</span>  on {{blog.posted.strftime('%d-%m-%Y')}}</p>
                                    <h3>Title: <a href="{{url_for('main.blog',id = blog.id)}}">{{blog.title}}</a></h3>

                                </div>
                                <div class="card-content">
                                    <p>{{blog.content}}</p>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                            <!-- <div class="col-md-2">
                                <img class="rounded-circle blog-img mr-10" src="{{ url_for('static', filename='photos/' + blog.user.profile_pic_path) }}">
                            </div>
                            <div class="col-md-6">
                                <p>By <span style="color: blue">{{blog.user.username}}</span>  on {{blog.posted.strftime('%d-%m-%Y')}}</p>
                                <h3>Title: <a href="{{url_for('main.blog',id = blog.id)}}">{{blog.title}}</a></h3>
                                <p>{{blog.content}}</p>
                               
    
                            </div> -->
                            
                        </div>  
                        <hr> 
                    </div>
                {% endfor %}

                {% for page_num in blogs.iter_pages(left_edge = 1, right_edge = 1, left_current=1, right_current = 2) %}
                    {% if page_num %}
                        {% if blogs.page == page_num %}
                            <a href="{{url_for('main.user_posts',username = user.username,page = page_num)}}" class="btn btn-sm btn-info mb-2">{{ page_num }}</a>
                        {% else%}
                        <a href="{{url_for('main.user_posts',username = user.username,page = page_num)}}" class="btn btn-sm btn-outline-info mb-2">{{ page_num }}</a>
                        {% endif %}
                    {% else%}
                        ...
                    {% endif %}
                {% endfor %}  

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

{% endblock %}    